<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no" />
<link rel="icon" href="images/favicon.ico">
<link rel="shortcut icon" href="images/favicon.ico" />
<link rel="stylesheet" href="booking/css/booking.css">
<link rel="stylesheet" href="css/camera.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/style.css">
<script src="js/jquery.js"></script>
<script src="js/jquery-migrate-1.2.1.js"></script>
<script src="js/script.js"></script>
<script src="js/superfish.js"></script>
<script src="js/jquery.ui.totop.js"></script>
<script src="js/jquery.equalheights.js"></script>
<script src="js/jquery.mobilemenu.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/camera.js"></script>
<!--[if (gt IE 9)|!(IE)]><!-->
<script src="js/jquery.mobile.customized.min.js"></script>
<!--<![endif]-->
<script src="booking/js/booking.js"></script>
<script>
	$(document).ready(function() {
		jQuery('#camera_wrap').camera({
			loader : false,
			pagination : false,
			minHeight : '444',
			thumbnails : false,
			height : '28.28125%',
			caption : true,
			navigation : true,
			fx : 'mosaic'
		});
		$().UItoTop({
			easingType : 'easeOutQuart'
		});
	});
</script>
</head>
<body class="page1" id="top">
	<div class="main">
		<!--==============================header=================================-->
		<div th:insert="~{fragments/header.html}"></div>



		<div class="slider_wrapper ">
			<div id="camera_wrap" class="">
				<div data-src="images/slide.jpg"></div>
				<div data-src="images/slide1.jpg"></div>
				<div data-src="images/slide2.jpg"></div>
			</div>
		</div>
		<div class="container_12">
			<div class="grid_4">
				<div class="banner">
					<div class="maxheight">
						<div class="banner_title">
							<img src="images/icon1.png" alt="">
							<div class="extra_wrapper">
								Fast&amp;
								<div class="color1">Safe</div>
							</div>
						</div>
						At Taxi Booking, we prioritize your convenience with fast,
						reliable, and secure services. Our cutting-edge booking system
						ensures a seamless experience while maintaining the highest
						standards of safety and privacy, making every ride smooth and
						secure for our customers. <a href="#" class="fa fa-share-square"></a>
					</div>
				</div>
			</div>
			<div class="grid_4">
				<div class="banner">
					<div class="maxheight">
						<div class="banner_title">
							<img src="images/icon2.png" alt="">
							<div class="extra_wrapper">
								Best
								<div class="color1">Prices</div>
							</div>
						</div>
						At Taxi Booking, we offer competitive pricing without compromising
						on quality. Enjoy transparent rates, no hidden charges, and
						flexible payment options, ensuring you get the best value for your
						journey every time you travel with us. <a href="#"
							class="fa fa-share-square"></a>
					</div>
				</div>
			</div>
			<div class="grid_4">
				<div class="banner">
					<div class="maxheight">
						<div class="banner_title">
							<img src="images/icon3.png" alt="">
							<div class="extra_wrapper">
								Package
								<div class="color1">Delivery</div>
							</div>
						</div>
						Our package delivery services offer fast, reliable, and secure
						transportation for your goods. Whether it's urgent documents or
						larger parcels, we ensure timely and safe deliveries with tracking
						features and trusted drivers, making sure your items reach their
						destination without hassle. <a href="#" class="fa fa-share-square"></a>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="c_phone">
			<div class="container_12">
				<div class="grid_12">
					<div class="fa fa-phone"></div>
					9878987896 <span>ORDER NOW!</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!--==============================Content=================================-->
		<div class="content">
			<div class="ic">More Website Templates @ TemplateMonster.com -
				April 07, 2014!</div>
			<div class="container_12">
				<div class="grid_5">
					<h3>Booking Form</h3>
					<h4 style="color:red" th:text="${message}"></h4>
					<form id="bookingForm" th:action="@{bookingForm}" method="post"
						th:object="${bookingForm}">
						<div class="fl1">
							<div class="tmInput">
								<input name="name" th:value=${bookingForm.name}
									placeHolder="Name:" type="text"
									data-constraints='@NotEmpty @Required @AlphaSpecial'> <span
									style="color: red" th:if="${#fields.hasErrors('name')}"
									th:errors="*{name}"></span>
							</div>
							<div class="tmInput">
								<input name="source" th:value=${bookingForm.source}
									placeHolder="From:" type="text"
									data-constraints="@NotEmpty @Required "> <span
									style="color: red" th:if="${#fields.hasErrors('source')}"
									th:errors="*{source}"></span>
							</div>
						</div>
						<div class="fl1">
							<div class="tmInput">
								<input name="email" th:value=${bookingForm.email}
									placeHolder="Email:" type="text"
									data-constraints="@NotEmpty @Required @Email"> <span
									style="color: red" th:if="${#fields.hasErrors('email')}"
									th:errors="*{email}"></span>
							</div>
							<div class="tmInput mr0">
								<input name="destination" th:value=${bookingForm.destination}
									placeHolder="To:" type="text"
									data-constraints="@NotEmpty @Required"> <span
									style="color: red" th:if="${#fields.hasErrors('destination')}"
									th:errors="*{destination}"></span>
							</div>
						</div>
						<div class="clear"></div>
						<strong>Time</strong>
						<div class="tmInput">
							<input name="time" th:value=${bookingForm.time} placeHolder=""
								type="time" data-constraints="@NotEmpty @Required"> <span
								style="color: red" th:if="${#fields.hasErrors('time')}"
								th:errors="*{time}"></span>
						</div>
						<div class="clear"></div>
						<strong>Date</strong> <label> <input type="date"
							th:value=${bookingForm.date} name="date"
							data-constraints="@NotEmpty @Required @Date"> <span
							style="color: red" th:if="${#fields.hasErrors('date')}"
							th:errors="*{date}"></span>
						</label> <span style="color: red" th:if="${#fields.hasErrors('comfort')}"
							th:errors="*{comfort}"></span>
						<div class="clear"></div>
						<br><br>
						<div class="tmRadio">
							<p>Comfort</p>
							<input name="comfort" value="cheap"
								th:checked="${bookingForm.comfort=='cheap'}" type="radio"
								id="tmRadio0"
								data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])'
								checked /> <span>Cheap</span> <input name="comfort"
								value="standard" th:checked="${bookingForm.comfort=='standard'}"
								type="radio" id="tmRadio1"
								data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' />
							<span>Standard</span> <input name="comfort" value="luxury"
								th:checked="${bookingForm.comfort=='luxury'}" type="radio"
								id="tmRadio2"
								data-constraints='@RadioGroupChecked(name="Comfort", groups=[RadioGroup])' />
							<span>Luxury</span>
						</div>
						<div class="clear"></div>
						<div class="fl1 fl2">
							<em>Adults</em> <select name="adult" class="tmSelect auto"
								data-class="tmSelect tmSelect2" data-constraints="">
								<option th:selected="${bookingForm.adult==1}">1</option>
								<option>1</option>
								<option th:selected="${bookingForm.adult==2}">2</option>
								<option th:selected="${bookingForm.adult==3}">3</option>
								<option th:selected="${bookingForm.adult==4}">4</option>
							</select> <span style="color: red" th:if="${#fields.hasErrors('adult')}"
								th:errors="*{adult}"></span>
							<div class="clear height1"></div>
						</div>
						<div class="fl1 fl2">
							<em>Children</em> <select name="children" class="tmSelect auto"
								data-class="tmSelect tmSelect2" data-constraints="">
								<option th:selected="${bookingForm.children==0}">0</option>
								<option>0</option>
								<option th:selected="${bookingForm.children==1}">1</option>
								<option th:selected="${bookingForm.children==2}">2</option>
								<option th:selected="${bookingForm.children==3}">3</option>
							</select> <span style="color: red"
								th:if="${#fields.hasErrors('children')}" th:errors="*{children}"></span>
						</div>
						<div class="clear"></div>
						<div class="tmTextarea">
							<textarea name="message" th:text="${bookingForm.message}"
								placeHolder="Message"
								data-constraints='@NotEmpty @Required @Length(min=20,max=999999)'></textarea>
							<span style="color: red" th:if="${#fields.hasErrors('message')}"
								th:errors="*{message}"></span>
						</div>
						<button class="btn">Submit</button>
					</form>
				</div>
				<div class="grid_6 prefix_1">
					<a href="index2.html" class="type"><img
						src="images/page1_img1.jpg" alt=""><span
						class="type_caption">Economy</span></a> <a href="index2.html"
						class="type"><img src="images/page1_img2.jpg" alt=""><span
						class="type_caption">Standard</span></a> <a href="index2.html"
						class="type"><img src="images/page1_img3.jpg" alt=""><span
						class="type_caption">Lux</span></a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<!--==============================footer=================================-->
	<div th:insert="~{fragments/footer.html}"></div>

	<script>
		$(function() {
			$('#bookingForm').bookingForm({
				ownerEmail : '#'
			});
		})
		$(function() {
			$('#bookingForm input, #bookingForm textarea').placeholder();
		});
	</script>
</body>
</html>